<?xml version="1.0" encoding="UTF-8"?>
<module>
	<menulist>
    		<menuitem menuid="roomx"          desc="RoomX"       parent=""         module="no"  link="" order="11">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
			<group id="2" name="Operator" desc="Operator"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_home"        desc="Home"        parent="roomx"    module="yes" link="" order="1">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
			<group id="2" name="Operator" desc="Operator"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_check_in"    desc="Check In"    parent="roomx"    module="yes" link="" order="2">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
			<group id="2" name="Operator" desc="Operator"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_check_out"   desc="Check Out"   parent="roomx"    module="yes" link="" order="3">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
			<group id="2" name="Operator" desc="Operator"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_room_list"   desc="Room List"   parent="roomx"    module="yes" link="" order="4">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
			<group id="2" name="Operator" desc="Operator"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_groupe_list" desc="Group List"  parent="roomx"    module="yes" link="" order="5">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
			<group id="2" name="Operator" desc="Operator"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_config"      desc="Config"      parent="roomx"    module="no"  link="" order="6">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_general"     desc="General"     parent="rx_config" module="yes" link="" order="61">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_add_room"    desc="Add Room"    parent="rx_config" module="yes" link="" order="62">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_models"      desc="Models"      parent="rx_config" module="yes" link="" order="63">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_minibar"     desc="Mini Bar"    parent="rx_config" module="yes" link="" order="64">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_billing_rep" desc="Billing Report" parent="roomx"  module="yes" link="" order="7">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
			<group id="2" name="Operator" desc="Operator"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_company_rep" desc="Company Report" parent="roomx"  module="yes" link="" order="8">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
			<group id="2" name="Operator" desc="Operator"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_Booking"     desc="Booking"     parent="roomx"     module="no"  link="" order="9">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
			<group id="2" name="Operator" desc="Operator"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_booking_status" desc="Booking Status"  parent="rx_Booking" module="yes" link="" order="91">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
			<group id="2" name="Operator" desc="Operator"></group>
		</permissions>
		</menuitem>
		<menuitem menuid="rx_booking_list" desc="Booking List"    parent="rx_Booking" module="yes" link="" order="92">
		<permissions>
			<group id="1" name="administrator" desc="total access"></group>
			<group id="2" name="Operator" desc="Operator"></group>
		</permissions>
		</menuitem>
	</menulist>
</module>
